@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --bg: hsl(0, 0%, 100%);
  --card-bg: hsl(227, 47%, 96%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --slider-bg: hsl(230, 22%, 74%);
}

.light {
  --bg: hsl(0, 0%, 100%);
  --card-bg: hsl(227, 47%, 96%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --slider-bg: hsl(230, 22%, 74%);
}

.dark {
  --bg: hsl(230, 17%, 14%);
  --card-bg: hsl(228, 28%, 20%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --slider-bg: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.page {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin: 1rem;
  background-color: var(--bg);
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
}

.header__followers {
  font-weight: 700;
  color: var(--text-secondary);
}

.header__dark-mode {
  font-weight: 700;
  color: var(--text-secondary);
}

.header__hr {
  background-color: var(--text-secondary);
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.header__switch {
  float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__input:checked + .switch__slider {
  background: var(--slider-bg);
}

.switch__input:checked + .switch__slider:before {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.switch__input:focus + .switch__slider {
  -webkit-box-shadow: 0 0 1px var(--slider-bg);
          box-shadow: 0 0 1px var(--slider-bg);
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--slider-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: var(--bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.cards {
  margin-bottom: 3rem;
}

.card {
  --primary: hsl(208, 92%, 53%);
  --icon: url("../images/icon-facebook.svg");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--card-bg);
}

.card:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  content: "";
  height: 0.25rem;
  background: var(--primary);
}

.card__account {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  color: var(--text-secondary);
}

.card__account:before {
  height: 20px;
  content: var(--icon);
  margin-right: 0.4rem;
}

.card__count {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-primary);
}

.card__title {
  text-transform: uppercase;
  color: var(--text-secondary);
  letter-spacing: 0.2rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.card__change {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card--facebook {
  --primary: hsl(208, 92%, 53%);
  --icon: url("../images/icon-facebook.svg");
}

.card--twitter {
  --primary: hsl(203, 89%, 53%);
  --icon: url("../images/icon-twitter.svg");
}

.card--instagram {
  --primary: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --icon: url("../images/icon-instagram.svg");
}

.card--youtube {
  --primary: hsl(348, 97%, 39%);
  --icon: url("../images/icon-youtube.svg");
}

.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color);
  font-weight: 700;
}

.change:before {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--arrow);
  margin-right: 0.2rem;
}

.change_positive {
  --color: hsl(163, 72%, 41%);
  --arrow: url("../images/icon-up.svg");
}

.change_negative {
  --color: hsl(356, 69%, 56%);
  --arrow: url("../images/icon-down.svg");
}

.overview__title {
  color: var(--text-secondary);
}

.overview-card {
  position: relative;
  background: var(--card-bg);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview-card:before {
  content: var(--icon);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.overview-card__title {
  color: var(--text-secondary);
  font-weight: 700;
}

.overview-card__count {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 2rem;
}

.overview-card__change {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.overview-card--facebook {
  --icon: url("../images/icon-facebook.svg");
}

.overview-card--instagram {
  --icon: url("../images/icon-instagram.svg");
}

.overview-card--twitter {
  --icon: url("../images/icon-twitter.svg");
}

.overview-card--youtube {
  --icon: url("../images/icon-youtube.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */